body {
  /* margin: 0; */
  padding: 0;
  background-color: #c0f4dd;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10rem;
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column wrap;
  text-align: center;
  font-family: 'Jockey One', sans-serif;
}

.icon {
  width: 1em;
  height: 1em;
  margin: .5em;
}

.icon-links {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 4em;
  margin-bottom: 0;
}
