* {
  background-color: #c0f4dd;
}
.main {
  margin: 2em;
  padding: 0;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
}

.app {
  display: flex;
  margin: 6em;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;
  text-align: right;
}

.icon {
  width: 1em;
  margin: .3em;
  color: black;
}

.icon-links {
  display: flex;
  flex-direction: row;
  align-items: right;
  justify-content: space-around;
  padding-bottom: 3em;
}

h1 {
  font-size: 4em;
  margin: 0;
  font-family: 'Rokkitt', serif;
}

p{
  font-family: 'Bebas Neue', cursive;
}

.buttons{
  display: flex;
  flex-flow: row wrap;
  /* align-content: left; */
  justify-content: space-around;

}


button {
  margin: 1em;
  background-color: black;
  border-radius: 50px;
  height: 5em;
  width: 5em;
  color: #a52e2e;
  font-family: 'Bebas Neue', cursive;
  font-size: 2em;
}

.btn {
  margin: 1em;
  background-color: black;
  border-radius: 20px;
  height: 3em;
  width: 5em;
  color: #a52e2e;
  font-family: 'Bebas Neue', cursive;
  font-size: 2em;
}


button:hover{
  color: #ff4545;
  opacity: .8;
}

.bio {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
  max-width: 30em;
}

.render-modal {
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
}

.portfolio{
  background-color: #a52e2e;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}
.port{
  display: flex;
  justify-content: center;
}
