* {
  background-color: #c0f4dd;
}
.main {
  /* margin: 0; */
  padding: 0;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
}

.app {
  display: flex;
  margin: 6em;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;
  text-align: right;
}

.icon {
  width: 1em;
  margin: .3em;
  color: black;
}

.icon-links {
  display: flex;
  flex-direction: row;
  align-items: right;
  justify-content: space-around;
  padding-bottom: 3em;
}

h1 {
  font-size: 4em;
  margin: 0;
  font-family: 'Rokkitt', serif;
}

p {
  font-family: 'Bebas Neue', cursive;
}

.buttons{
  display: flex;
  flex-flow: row wrap;
  /* align-content: left; */
  justify-content: space-between;

}


button {
  margin: 1em;
  background-color: black;
  border-radius: 50px;
  height: 5em;
  width: 5em;
  color: #a52e2e;
  font-family: 'Bebas Neue', cursive;
  font-size: 2em;

}


button:hover{
  color: #ff4545;
  opacity: .8;
}
